@media screen and (max-width: 480px){
    body{
        font-size: 0.8em;
        max-width: 90%;
    }
    .max_480{
        display: none;
    }
    .accordion {
        color: blue;
        cursor: pointer;

    }

    .panel {
        padding: 0 18px;
        background-color: white;
        display: none;
        overflow: hidden;
    }
}