@media screen and (max-width: 480px){
    body{
        font-size: 0.8em;
    }
    h1{
        font-size: 23px;
        margin-bottom: 15px;
    }
    .wrapper{
        width: 100%;
    }
    .max_480{
        display: none;
    }
    .accordion {
        color: blue;
        cursor: pointer;
    }
    .panel {
        padding: 0;
        background-color: white;
        display: none;
        overflow: hidden;
    }

}