
body {
    color: rgba(35, 37, 35, 0.84);
    font-size: 1em;
    font-weight: 100;
    background-color: #ffeaec;
    max-width: 60%;
    margin: 0 auto;
    text-align: left;
}

.wrapper {
    padding-left: 2em;
    padding-right: 2em;
}

article {
    background-color: white;
}

section {
    text-align: left;
}

ul {
    list-style: none;
}

a {
    display: inline-block;
    font-size: 1.1em;
    text-decoration: none;
    padding-bottom: 0.3em;
}

h1, h2, h3 {
    display: inline-block;
}

a:visited {
    color: darkblue;
}

a:hover {
    border-bottom: 1px solid darkblue;
    margin-top: -1px;
    cursor: pointer;
}

a:active {
    color: #ff0000;
}

*, ::after, ::before {
    box-sizing: border-box;
}
.wrapper_social-icons{
    display: flex;
    flex-direction: row-reverse;
    margin-bottom: 1.5em;
}
.ya-share2{
    padding-right: 0.4em;
    padding-left: 0;

}